@import "../../utils/utils";
@import "../../utils/master";

.reset-password {
  height: 70vh;
  .reset-card {
    @extend .card;
    height: 250px;
    width: 300px;
    justify-content: space-between;
    padding: 1rem;
    header {
      height: fit-content;
      padding: 10px 0;
    }
    main {
      margin: 0;
      height: fit-content;
      input {
        margin: 0;
      }
    }
    footer {
      height: 20%;
    }
  }
}
