@import "../../utils/utils";
@import "../../utils/master.scss";

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logincard {
  @extend .card;
  height: 400px;
  width: 350px;
  footer {
    button {
      color: $text-colour;
    }
  }
}
@media (max-width: 500px) {
  .login {
    margin: 5rem 0;
    height: fit-content;
    .logincard {
      width: 90%;
      padding: 0.5rem;
      input {
        width: 90%;
        padding: 10px;
        font-size: 1.1rem;
      }
      header {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
