$text-colour: #fff;
$secondary-colour: #333;
$primary-colour: bisque;
$colour1: springgreen;
$shadow: 1px 1px 10px #222, -1px -1px 10px #222;
$shadow2: 2px 2px 10px #000, -2px -2px 10px #000;
$shadow3: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$shadow4: rgba(0, 0, 0, 0.2) 0px 10px 20px, rgba(0, 0, 0, 0.12) 0px 10px 15px;
$shadow5: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow6: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$transition: all 0.2s;
