@import "./utils";
.btn1 {
  padding: 8px 25px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 15px;
}
.btn1:hover {
  transform: scale(1.1);
}
.colourpink {
  background-color: lighten($color: #cb2d6f, $amount: 10);
}
.colouryellow {
  background-color: lighten($color: #fba92c, $amount: 10);
}
.colourgreen {
  background-color: springgreen;
}
.dark {
  background-color: $secondary-colour;
  color: $text-colour;
}
.light {
  background-color: $text-colour;
  color: $secondary-colour;
}
.darktext {
  color: $secondary-colour;
  font-weight: 300;
}
.lighttext {
  color: $text-colour;
  font-weight: 300;
}
.btndark {
  color: $secondary-colour;
  background-color: $colour1;
  font-weight: 500;
}
.btnlight {
  color: $text-colour;
  background-color: $colour3;
}
.borderlight {
  border-bottom: 2px solid $secondary-colour;
}
.bg-dark {
  background-color: $primary-dark;
}
.bg-light {
  background-color: $primary-colour;
}
.shadow5 {
  box-shadow: $shadow5;
}
.shadow7 {
  box-shadow: $shadow7;
}
.borderlight2 {
  border-bottom: 2px solid $colour3;
}
.borderlight3 {
  border: 2px solid $colour3;
}
.borderdark {
  border-bottom: 2px solid $text-colour;
}
.borderdark2 {
  border-bottom: 2px solid $colour1;
}
.borderdark3 {
  border: 2px solid $colour1;
}
.active-icon {
  color: $colour1;
  border-radius: 50%;
}
.inactive-icon {
  color: $colour3;
  border-radius: 50%;
}
.star-icon {
  color: yellow;
}
.max-con {
  max-width: 1600px;
  margin: auto;
}
.overlay {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0;
  transition: $transition;
}
.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  border-radius: 5px;
  box-shadow: $shadow5;
  padding: 1rem;
  header {
    height: 20%;
    h2 {
      // color: $secondary-colour;
      font-weight: 300;
    }
    height: 10%;
    text-align: center;
    // border-bottom: 1px solid $secondary-colour;
  }
  main {
    position: relative;
    height: 70%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      // color: $secondary-colour;
      text-decoration: underline;
    }
    input {
      border: none;
      outline: none;
      // box-shadow: $shadow6;
      // color: $secondary-colour;
      font-size: 1rem;
      width: 95%;
      border-radius: 3px;
      font-weight: 400;
      padding: 8px 10px;
      margin: 1rem 0 0 0;
    }
    a {
      font-size: 13px;
      margin-top: 2rem;
    }
  }
  footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.input {
  border: none;
  outline: none;
  // box-shadow: $shadow6;
  // color: $secondary-colour;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: 400;
  padding: 8px 10px;
  margin: 1rem 0 0 0;
}
.title {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  margin-top: 1rem;
  padding: 10px 0;
}
