@import "./utils";
.btn1 {
  padding: 8px 25px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 15px;
}
.btn1:hover {
  transform: scale(1.1);
}
.colourpink {
  background-color: lighten($color: #cb2d6f, $amount: 10);
  // background-color: lighten($color: mediumspringgreen, $amount: 10);
}
.colouryellow {
  background-color: lighten($color: #fba92c, $amount: 10);
}
