@import "../../utils/utils";
.img-grid {
  width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  // margin: 0 0 1rem 0;
}
@media (max-width: 1200px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .img-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
