@import "../../utils/master.scss";
@import "../../utils/utils";
.cookpage {
  padding: 1rem;
  width: 100%;
  h1 {
    margin: 2rem 0;
  }
  header {
    height: fit-content;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow5;
    h2 {
      font-size: 2.5rem;
    }
    img {
      box-shadow: $shadow5;
      outline: none;
      border: 3px solid $colour1;
      width: 600px;
      border-radius: 10px;
      height: 350px;
      padding: 2px;
      // margin: 0 1rem;
      object-fit: cover;
    }
    .info {
      height: 100%;
      padding: 0 1rem;

      h2 {
        text-align: start;
        margin: 0 0 1rem 0;
        padding: 0;
      }
      ul {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
          display: flex;
          margin-bottom: 1rem;
          h3 {
            font-weight: 300;
          }
        }
      }
    }
  }
  .menu-grid {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0;
    .menu-card {
      @extend .card;
      // cursor: pointer;
      height: 200px;
      width: 100%;
      padding: 0;
      transition: $transition;
      &:hover .overlay {
        opacity: 0.6;
      }
      &:hover h3,
      &:hover .desc {
        opacity: 1;
      }
      &:hover {
        transform: scale(1.05);
      }
      header {
        justify-content: space-between;
        align-items: center;
        height: 20%;
        padding: 0 10px;
        margin: 0;
        border-radius: 0;
        p {
          font-size: 10px;
          word-wrap: normal;
        }
        h3,
        h4 {
          padding: 0;
          margin: 0;
          font-weight: 400;
        }
      }
      main {
        height: 80%;
        margin: 0;
        .desc {
          position: absolute;
          opacity: 0;
          padding: 10px;
          top: 0;
          font-weight: 300;
          font-size: 14px;

          text-align: center;
          color: $text-colour;
        }
        h3 {
          position: absolute;
          font-weight: 400;
          opacity: 0;
          bottom: 7px;
          cursor: pointer;
          color: $text-colour;
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 0 0 5px 5px;
        }
        .overlay {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .cookpage {
    .menu-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .cookpage {
    .menu-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 1000px) and (min-width: 600px) {
  .cookpage {
    .menu-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 600px) {
  .cookpage {
    .menu-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
@media (max-width: 768px) {
  .cookpage {
    .menu-grid {
      .menu-card {
        height: 250px;
        main {
          .desc {
            top: 15px;
          }
        }
      }
    }
    & > header {
      ul {
        align-items: center;
      }
      img {
        height: 350px;
        width: 350px;
        border-radius: 50%;
      }
      padding: 2rem 0;
      margin: 2rem 0;
      flex-direction: column-reverse;
      .info {
        h2 {
          font-size: 2.8rem;
          text-align: center;
          margin: 3rem 0 10px 0;
        }
      }
    }
  }
}
